@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// GERAL
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

// VARIÁVEIS SCSS
$cor-texto-geral: #b9b4b4;
$cor-azul-geral: #1c3070;
$cor-fundo: #000;
$efeito-box-shadow: 0 0 10px 0px var(--cor-texto);

:root {
    --cor-fundo: black;
    --cor-texto: white;
}

// INÍCIO CABEÇALHO
header {
    background-color: var(--cor-fundo);
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: .2rem;
    box-shadow: $efeito-box-shadow;

    a {
        color: var(--cor-texto);
        text-decoration: none;
        font-size: 1.3rem;
        padding: .7rem;
        border-radius: 30px;
        font-weight: 600;

        &:hover {
            color: var(--cor-texto);
            font-size: 1.8rem;
            display: inline-block;
            animation: subir 1s ease-in-out forwards;
        }
    }
}

@keyframes subir {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

// FIM CABEÇALHO

// INICIO CONTEUDO PRINCIPAL
.apresentacao {
    background-color: var(--cor-fundo);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: $efeito-box-shadow;
    align-items: center;

    .apresentacao-topo {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        align-items: center;

        div {
            margin-left: .9rem;
            margin-top: 1.6rem;

            .apresentacao-musica {

                div {
                    display: flex;
                    gap: .5rem;



                    &:hover i {
                        color: purple;

                    }

                    i {
                        color: var(--cor-texto);
                        font-size: 1.5rem;


                    }
                }
            }

            .altera-cor {
                width: fit-content;
                color: var(--cor-texto);
                font-size: 1.7rem;
                margin: 3rem 0 1rem 2.3rem;

                cursor: pointer;

                .fa-sun {


                    &:hover {
                        color: yellow;

                    }
                }
            }

            select {
                width: fit-content;
                font-size: 1rem;
                padding: .5rem;
                outline: none;
                font-weight: 600;
                cursor: pointer;
                border-radius: 20px;
                border: 1px solid var(--cor-texto);
                margin-top: 1.5rem;

                &:hover {
                    box-shadow: 0 0 20px 0 var(--cor-texto);
                }

                option {
                    padding: 1rem;
                    font-size: 1rem;
                    background-color: #000;
                    color: #fff;



                }
            }
        }

        h1 {
            margin: -5rem auto 0;
            width: 60%;
            text-align: center;
        }

        // animação escrevendo em loop
        #text {
            height: 20px;
            font-size: 4rem;
            color: var(--cor-texto);
            text-shadow: 1px 1px 5px var(--cor-texto);
        }

        #text::after {
            content: "";
            width: 3px;
            height: 50px;
            display: inline-block;
            background-color: var(--cor-texto);
            animation: flasher 0.6s infinite linear;
            opacity: 0;
            margin-left: 10px;
        }

        @keyframes flasher {
            from {
                opacity: 1;
            }
        }

        .apresentacao-sociais {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 5.5rem;

            i {
                font-size: 2.4rem;
                color: var(--cor-texto);
            }

            .fa-github {

                &:hover {
                    box-shadow: 0 0 10px 0 var(--cor-texto);
                }
            }

            .fa-linkedin {
                
                &:hover {
                    color: #1c3070;
                }
            }

            .apresentacao-sociais_listra {
                width: 2px;
                height: 60px;
                color: #fff;
                background-color: var(--cor-texto);
                margin-left: 1rem;
            }

            .apresentacao-sociais_listra__dois {
                width: 2px;
                height: 60px;
                color: #fff;
                background-color: var(--cor-texto);
                margin-left: 1rem;
                margin-top: -.2rem;
            }
        }
    }

    .apresentacao-curriculo {
        margin: -7rem auto 0;
        display: flex;
        gap: 1rem;

        a {
            width: fit-content;
            height: fit-content;
            padding: 1rem;
            font-size: 1.3rem;
            text-decoration: none;
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 10px;
        }

        .apresentacao-curriculo_linkUm {
            border: 1px solid var(--cor-texto);
            color: var(--cor-texto);

            .fa-download {
                margin-right: .5rem;
            }

            &:hover {
                background-color: var(--cor-texto);
                color: var(--cor-fundo);
            }
        }

        .apresentacao-curriculo_linkDois {
            background-color: #a7a4a470;
            color: #000;
            border: 1px solid var(--cor-texto);

            .fa-message {
                margin-right: .5rem;
            }

            &:hover {
                background-color: #d6d1d1ab;
                color: #000;
            }
        }
    }
}

// INICIO SEÇÃO SOBRE
.sobre {
    background-color: var(--cor-fundo);
    box-shadow: $efeito-box-shadow;
    padding: 6rem;
    color: var(--cor-texto);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    div {
        h1 {
            font-size: 3rem;
        }

        p {
            padding-top: 1rem;
            font-size: 1.2rem;
        }


        .sobre-profissao {
            width: fit-content;
            text-align: center;
            border: 1px solid var(--cor-texto);
            padding: 1.5rem;
            margin-top: 2rem;
            border-radius: 20px;

            &:hover i {
                box-shadow: 0 0 15px 0 var(--cor-texto);
            }

            i {
                margin: 1rem 0;
                font-size: 1.5rem;
                width: 20%;
                padding: .5rem;

                border-radius: 5px;


            }

            h3 {
                font-size: 1.5rem;
            }
        }

    }


    .especialidades {

        .especialidades-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2.5rem;
            margin-top: 2rem;
            justify-content: center;

            .especialidades-container_caixa {
                text-align: center;
                width: 28%;
                border: 1px solid $cor-texto-geral;
                padding: 2rem;
                transition: background .5s ease;

                &:hover {
                    background: var(--cor-texto);
                    color: var(--cor-fundo);
                    box-shadow: 0 0 20px 0 var(--cor-texto);
                }

                i {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }


            }
        }
    }
}

// FIM SEÇÃO SOBRE

// INICIO SEÇÃO HABILIDADES
.habilidades {
    background-color: var(--cor-fundo);
    box-shadow: $efeito-box-shadow;
    text-align: center;
    padding: 3rem;

    h1 {
        font-size: 3rem;
        color: var(--cor-texto);
    }

    p {
        font-size: 1.3rem;
        color: var(--cor-texto);
    }

    .swiperHabilidades {
        width: 100%;
        margin-top: 2rem;
        overflow: hidden;
        height: 38vh;
        padding-top: 1.5rem;

        .swiper-wrapper {
            transition-timing-function: linear !important;

            .swiper-slide {
                width: auto;
                flex-shrink: 0;
                height: 150px;
            }
        }
    }

    .habilidades-container {
        display: flex;
        gap: 1rem;



        .habilidades-container-caixa {
            background-color: #2c2b2b;
            display: grid;
            justify-content: center;
            padding: 1rem 1rem;
            border-radius: 20px;
            width: 15% !important;
            height: 90% !important;
            transition: transform .5s;
            cursor: grab;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 50%;
                margin: 0 auto;
            }

            span {
                color: $cor-texto-geral;
                font-weight: 600;
                margin: .5rem 0;
            }

            div {
                color: $cor-texto-geral;

            }
        }

    }
}
// FIM SEÇÃO HABILIDADES

// INICIO SEÇÃO PROJETOS

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: var(--cor-fundo);
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: $efeito-box-shadow;
    

    h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
        margin-top: -6rem;
        color: var(--cor-texto);
    }
}

.swiper {
  width: 80vw;              
  height: 430px;
  overflow: visible;      
}

.swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
}

.swiper-slide img {
    text-align: start;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: inherit;
    user-select: none;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
}

.title span {
    font-size: 1.2rem;
    font-weight: 600;
}

.swiper-slide-active .title {
    bottom: -10px;
    // box-shadow: 0 20px 30px 2px rgba(25, 43, 206, 0.6);
    box-shadow: 0 20px 30px 2px var(--cor-texto);
}

.swiper-pagination {
    --swiper-pagination-bottom: -50px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--cor-texto);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: var(--cor-texto);
    border-radius: 14px;
}
// FIM SEÇÃO PORJETOS

// INCIO SEÇÃO CONTATO
.contato {
    background-color: var(--cor-fundo);
    box-shadow: $efeito-box-shadow;
    color: var(--cor-texto);
    padding: 3rem 5.5rem;

    h1 {
        font-size: 3rem;
        color: var(--cor-texto);
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .contato-divisao {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .contato-divisao_geral {

            h2 {
                font-size: 1.8rem;
            }

            .contato-divisao_geral__frase {
                font-size: 1.2rem;
                width: 60%;
                margin: 1rem 0;
            }

            .contato-divisao_geral__caixa {
                display: flex;
                gap: .7rem;
                align-items: center;
                margin: 1rem 0;

                i {
                    border-radius: 50%;
                    border: 1px solid $cor-texto-geral;
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    padding: .7rem;
                    font-size: 1.5rem;

                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    color: var(--cor-texto);
                    text-decoration: none;
                    font-size: 1.7rem;
                    font-weight: 600;
                }
            }
        }

        .formulario {
            display: grid;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.4rem;
                    margin-top: .7rem;
                }

                input {
                    padding: .9rem;
                    width: 90%;
                    margin-top: .5rem;
                    border-radius: 5px;
                    border: 1px solid var(--cor-texto);
                }

                textarea {
                    width: 90%;
                    border-radius: 5px;
                    margin: .7rem 0 1.5rem 0;
                    border: 1px solid var(--cor-texto);
                }

                button {
                    background-color: var(--cor-texto);
                    color: var(--cor-fundo);
                    width: 90%;
                    padding: .7rem;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 600;
                    border-radius: 5px;
                    text-align: center;
                    border: 1px solid var(--cor-texto);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--cor-fundo);
                        color: var(--cor-texto);
                        box-shadow: 0 0 20px 0 var(--cor-texto);
                    }
                }
            }
        }
    }
}

// FIM SEÇÃO CONTATO

// FIM CONTEUDO PRINCIPAL

// INICIO RODAPE
footer {
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    box-shadow: $efeito-box-shadow;
    padding: 2rem 0;

    p {
        font-size: 1.5rem;
    }
}