@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

:root {
  --cor-fundo: black;
  --cor-texto: #fff3f3; }

.habilidades h1, .projetos h1, .contato h1 {
  font-size: 3rem;
  color: var(--cor-texto);
  text-align: center; }

header, .apresentacao, .sobre, .habilidades, .projetos, .contato, footer {
  background-color: var(--cor-fundo);
  box-shadow: 0 0 10px 0px var(--cor-texto); }

header {
  display: flex;
  justify-content: center;
  gap: .2rem;
  padding: 1rem;
  position: relative;
  height: 100px;
  align-items: center; }
  header .cabecalho-players {
    display: none; }
  header .cabecalho-topo-sociais {
    display: none; }
  header .esconder-bars {
    display: none; }
  header .fa-bars {
    color: var(--cor-texto);
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.8rem 1rem 2rem 0 !important; }
  header .menu a {
    border-radius: 30px;
    color: var(--cor-texto);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    padding: .7rem; }
    header .menu a:hover {
      animation: subir 1s ease-in-out forwards;
      color: var(--cor-texto);
      display: inline-block;
      font-size: 1.8rem; }
@keyframes subir {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-15px); } }
.seta-subir {
  border-radius: 50%;
  bottom: 0;
  color: var(--cor-texto);
  cursor: pointer;
  font-size: 4rem;
  right: 0;
  margin: 0 5rem 5rem 0;
  position: fixed;
  z-index: 10; }

.seta-subir.esconder {
  display: none; }

.apresentacao {
  display: grid;
  height: 100vh; }
  .apresentacao .apresentacao-topo {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center; }
    .apresentacao .apresentacao-topo div {
      margin: 0 0 0 .9rem; }
      .apresentacao .apresentacao-topo div .apresentacao-musica div {
        display: flex;
        gap: .5rem; }
        .apresentacao .apresentacao-topo div .apresentacao-musica div:hover i {
          color: purple;
          cursor: pointer; }
        .apresentacao .apresentacao-topo div .apresentacao-musica div i {
          color: var(--cor-texto);
          font-size: 1.5rem; }
      .apresentacao .apresentacao-topo div .altera-cor {
        color: var(--cor-texto);
        cursor: pointer;
        margin: 3rem 0 1rem 2.3rem;
        width: fit-content; }
        .apresentacao .apresentacao-topo div .altera-cor i {
          font-size: 1.7rem; }
        .apresentacao .apresentacao-topo div .altera-cor .fa-sun:hover {
          color: yellow; }
      .apresentacao .apresentacao-topo div select {
        border: 1px solid var(--cor-texto);
        border-radius: 20px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1.5rem;
        outline: none;
        padding: .5rem;
        width: fit-content; }
        .apresentacao .apresentacao-topo div select:hover {
          box-shadow: 0 0 20px 0 var(--cor-texto); }
        .apresentacao .apresentacao-topo div select option {
          background-color: #000;
          color: #fff;
          font-size: 1rem;
          padding: 1rem; }
    .apresentacao .apresentacao-topo #text {
      color: var(--cor-texto);
      font-size: 4rem;
      height: 20px;
      text-shadow: 1px 1px 5px var(--cor-texto);
      margin: -5rem auto 0;
      width: 60%;
      text-align: center; }
    .apresentacao .apresentacao-topo #text::after {
      content: "";
      width: 3px;
      height: 50px;
      display: inline-block;
      background-color: var(--cor-texto);
      animation: flasher 0.6s infinite linear;
      opacity: 0;
      margin-left: 10px; }
@keyframes flasher {
  from {
    opacity: 1; } }
    .apresentacao .apresentacao-topo .apresentacao-titulo_responsivo {
      display: none; }
    .apresentacao .apresentacao-topo .apresentacao-sociais {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1.5rem; }
      .apresentacao .apresentacao-topo .apresentacao-sociais i {
        font-size: 2.4rem;
        color: var(--cor-texto); }
      .apresentacao .apresentacao-topo .apresentacao-sociais .fa-github:hover {
        box-shadow: 0 0 10px 0 var(--cor-texto); }
      .apresentacao .apresentacao-topo .apresentacao-sociais .fa-linkedin:hover {
        color: #1c3070; }
      .apresentacao .apresentacao-topo .apresentacao-sociais .apresentacao-sociais_listra {
        background-color: var(--cor-texto);
        color: #fff;
        width: 2px;
        height: 60px;
        margin-left: 1rem; }
      .apresentacao .apresentacao-topo .apresentacao-sociais .apresentacao-sociais_listra__dois {
        background-color: var(--cor-texto);
        color: #fff;
        height: 60px;
        margin: -.2rem 0 0 1rem;
        width: 2px; }
  .apresentacao .apresentacao-curriculo {
    display: flex;
    gap: 1rem;
    margin: 0 auto; }
    .apresentacao .apresentacao-curriculo a {
      border-radius: 10px;
      font-size: 1.3rem;
      font-weight: 600;
      height: fit-content;
      padding: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      width: fit-content; }
    .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkUm {
      color: var(--cor-texto);
      border: 1px solid var(--cor-texto);
      transition: all .5s ease; }
      .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkUm .fa-download {
        margin-right: .5rem; }
      .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkUm:hover {
        color: var(--cor-fundo);
        background-color: var(--cor-texto); }
    .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkDois {
      background-color: #a7a4a470;
      border: 1px solid var(--cor-texto);
      color: #000;
      transition: all .5s ease; }
      .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkDois .fa-message {
        margin-right: .5rem; }
      .apresentacao .apresentacao-curriculo .apresentacao-curriculo_linkDois:hover {
        background-color: #d6d1d1ab; }

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  color: var(--cor-texto);
  padding: 6rem; }
  .sobre div h1 {
    font-size: 3rem; }
  .sobre div p {
    padding-top: 1rem;
    font-size: 1.2rem; }
  .sobre div .sobre-profissao {
    border: 1px solid var(--cor-texto);
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    width: fit-content; }
    .sobre div .sobre-profissao:hover i {
      box-shadow: 0 0 15px 0 var(--cor-texto); }
    .sobre div .sobre-profissao i {
      border-radius: 5px;
      font-size: 1.5rem;
      padding: .5rem;
      margin: 1rem 0; }
    .sobre div .sobre-profissao h3 {
      font-size: 1.5rem; }
  .sobre .especialidades .especialidades-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 2rem; }
    .sobre .especialidades .especialidades-container .especialidades-container_caixa {
      border: 1px solid #b9b4b4;
      padding: 1.3rem 2rem;
      text-align: center;
      transition: all .5s ease;
      width: 28%; }
      .sobre .especialidades .especialidades-container .especialidades-container_caixa:hover {
        background: var(--cor-texto);
        color: var(--cor-fundo);
        box-shadow: 0 0 20px 0 var(--cor-texto); }
      .sobre .especialidades .especialidades-container .especialidades-container_caixa i {
        font-size: 2.5rem;
        margin-bottom: 1rem; }

.habilidades {
  padding: 3rem;
  text-align: center; }
  .habilidades p {
    color: var(--cor-texto);
    font-size: 1.3rem; }
  .habilidades .swiperHabilidades {
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    height: 38vh;
    padding-top: 1.5rem; }
    .habilidades .swiperHabilidades .swiper-wrapper {
      transition-timing-function: linear !important; }
      .habilidades .swiperHabilidades .swiper-wrapper .swiper-slide {
        width: auto;
        flex-shrink: 0;
        height: 150px; }
    .habilidades .swiperHabilidades .habilidades-container {
      display: flex;
      gap: 1rem; }
      .habilidades .swiperHabilidades .habilidades-container .habilidades-container-caixa {
        display: grid;
        justify-content: center;
        border-radius: 20px;
        background-color: #2c2b2b;
        color: #b9b4b4;
        cursor: grab;
        height: 80% !important;
        padding: 1rem;
        transition: transform .5s;
        width: 15% !important; }
        .habilidades .swiperHabilidades .habilidades-container .habilidades-container-caixa:hover {
          transform: scale(1.1); }
        .habilidades .swiperHabilidades .habilidades-container .habilidades-container-caixa img {
          width: 50%;
          margin: 0 auto; }
        .habilidades .swiperHabilidades .habilidades-container .habilidades-container-caixa span {
          font-weight: 600;
          margin: .5rem 0; }

.projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  height: 120vh; }
  .projetos h1 {
    margin-bottom: 2rem;
    margin-top: -6rem; }

.swiper {
  width: 80vw;
  height: 430px;
  overflow: visible; }

.swiper-slide {
  position: relative;
  width: 320px;
  aspect-ratio: 3/4;
  border-radius: 14px;
  border: 1px solid rgba(177, 177, 177, 0.4); }

.swiper-slide img {
  text-align: start;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: inherit;
  user-select: none; }

.title {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  width: max-content;
  text-align: center;
  padding: 10px 18px;
  background: rgba(46, 39, 39, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  transition: all 0.5s linear; }

.title span {
  font-size: 1.2rem;
  font-weight: 600; }

.swiper-slide-active .title {
  bottom: -10px;
  box-shadow: 0 20px 30px 2px var(--cor-texto); }

.swiper-pagination {
  --swiper-pagination-bottom: -50px; }

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: var(--cor-texto);
  border-radius: 50%;
  transition: all 0.3s ease-in-out; }

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: var(--cor-texto);
  border-radius: 14px; }

.contato {
  color: var(--cor-texto);
  padding: 3rem 5.5rem; }
  .contato h1 {
    margin-bottom: 2.5rem; }
  .contato .contato-divisao {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contato .contato-divisao .contato-divisao_geral h2 {
      font-size: 1.8rem; }
    .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__frase {
      font-size: 1.2rem;
      width: 60%;
      margin: 1rem 0; }
    .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__caixa {
      display: flex;
      align-items: center;
      gap: .7rem;
      margin: 1rem 0; }
      .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__caixa i {
        border-radius: 50%;
        border: 1px solid var(--cor-texto);
        font-size: 1.5rem;
        height: 3rem;
        padding: .7rem;
        text-align: center;
        width: 3rem; }
      .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__caixa p {
        font-size: 1.2rem; }
      .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__caixa a {
        color: var(--cor-texto);
        font-size: 1.7rem;
        font-weight: 600;
        text-decoration: none; }
        .contato .contato-divisao .contato-divisao_geral .contato-divisao_geral__caixa a .fa-arrow-right {
          border: none; }
    .contato .contato-divisao .formulario form {
      display: flex;
      flex-direction: column; }
      .contato .contato-divisao .formulario form label {
        font-size: 1.4rem;
        margin-top: .7rem; }
      .contato .contato-divisao .formulario form input {
        border: 1px solid var(--cor-texto);
        border-radius: 5px;
        width: 95%;
        padding: .9rem;
        margin-top: .5rem; }
      .contato .contato-divisao .formulario form textarea {
        border: 1px solid var(--cor-texto);
        border-radius: 5px;
        width: 95%;
        margin: .7rem 0 1.5rem 0; }
      .contato .contato-divisao .formulario form button {
        border: 1px solid var(--cor-texto);
        border-radius: 5px;
        width: 95%;
        background-color: var(--cor-texto);
        color: var(--cor-fundo);
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        padding: .7rem;
        text-align: center;
        text-decoration: none;
        transition: all .5s ease; }
        .contato .contato-divisao .formulario form button:hover {
          background-color: var(--cor-fundo);
          box-shadow: 0 0 20px 0 var(--cor-texto);
          color: var(--cor-texto); }

footer {
  color: var(--cor-texto);
  padding: 2rem 0;
  text-align: center; }
  footer p {
    font-size: 1.5rem; }

/* Celulares */
@media (max-width: 480px) {
  .cabecalho-topo-sociais {
    margin-right: 1rem !important; }

  header .esconder-bars {
    cursor: pointer;
    display: block;
    font-size: 1.7rem !important;
    margin-top: 2.2rem !important; }

  #cabecalho-lang-switcher {
    display: block; }

  .apresentacao .apresentacao-topo #text {
    display: none;
    margin: 1.5rem 0 0 2.1rem !important;
    width: 350px !important;
    font-size: 2rem !important; }
  .apresentacao .apresentacao-topo .apresentacao-titulo_responsivo {
    display: block !important; }
    .apresentacao .apresentacao-topo .apresentacao-titulo_responsivo .apresentacao-titulo_responsivo__titulo {
      display: block !important;
      width: 300px !important;
      color: var(--cor-texto);
      margin: 2rem 0 0 3rem !important;
      text-align: center;
      font-size: 2rem !important; }
  .apresentacao .apresentacao-curriculo {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center; }

  .especialidades h1 {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important; }
  .especialidades .especialidades-container_caixa {
    min-width: 150px !important; }

  .habilidades-container-caixa {
    min-height: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #00000000 !important;
    border: none !important; }
    .habilidades-container-caixa img {
      width: 100% !important; }
    .habilidades-container-caixa span {
      display: none; }
    .habilidades-container-caixa div {
      display: none; }

  form input {
    width: 100% !important; }
  form textarea {
    width: 100% !important; }
  form button {
    width: 100% !important; }

  footer {
    padding: 2rem 1rem; } }
/* Tablets */
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center; }

  header .esconder-bars {
    cursor: pointer;
    display: block;
    font-size: 2.5rem; }

  header .menu {
    display: none !important; }

  header .menu.ativo {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    right: 0px;
    margin: 20rem 2rem 0 2rem;
    padding: 15px;
    animation: menuDescer .5s forwards;
    background-color: var(--cor-fundo);
    width: 90% !important;
    border: 2px solid var(--cor-texto);
    text-align: center;
    z-index: 10; }

  @keyframes menuDescer {
    from {
      transform: translate3d(0, -60px, 0); }
    to {
      transform: translate3d(0, 0, 0); } }
  .cabecalho-players {
    display: flex !important;
    justify-content: start !important;
    color: #fff !important;
    align-items: center !important;
    gap: 2rem; }
    .cabecalho-players i {
      font-size: 1.5rem; }
    .cabecalho-players .cabecalho-apresentacao-musica div {
      display: flex;
      gap: .5rem; }
      .cabecalho-players .cabecalho-apresentacao-musica div:hover i {
        color: purple;
        cursor: pointer; }
      .cabecalho-players .cabecalho-apresentacao-musica div i {
        color: var(--cor-texto);
        font-size: 1.5rem; }
    .cabecalho-players .cabecalho-altera-cor {
      color: var(--cor-texto);
      cursor: pointer; }
      .cabecalho-players .cabecalho-altera-cor i {
        font-size: 1.7rem; }
      .cabecalho-players .cabecalho-altera-cor .fa-sun:hover {
        color: yellow; }
    .cabecalho-players select {
      display: none; }
    .cabecalho-players #cabecalho-lang-switcher {
      display: block;
      border: 1px solid var(--cor-texto);
      border-radius: 20px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      outline: none;
      padding: .5rem;
      width: fit-content; }
      .cabecalho-players #cabecalho-lang-switcher:hover {
        box-shadow: 0 0 20px 0 var(--cor-texto); }
      .cabecalho-players #cabecalho-lang-switcher option {
        background-color: #000;
        color: #fff;
        font-size: 1rem;
        padding: 1rem; }

  .cabecalho-topo-sociais {
    display: flex !important; }
    .cabecalho-topo-sociais i {
      font-size: 2rem;
      color: var(--cor-texto);
      margin-right: 1rem; }
    .cabecalho-topo-sociais .fa-github:hover {
      box-shadow: 0 0 10px 0 var(--cor-texto); }
    .cabecalho-topo-sociais .fa-linkedin:hover {
      color: #1c3070; }

  .apresentacao-topo #text {
    display: none; }
  .apresentacao-topo .apresentacao-titulo_responsivo {
    display: block !important; }
    .apresentacao-topo .apresentacao-titulo_responsivo .apresentacao-titulo_responsivo__titulo {
      display: block !important;
      width: 350px !important;
      color: var(--cor-texto);
      margin: 2rem 0 0 7rem !important;
      text-align: center;
      font-size: 2.3rem; }
  .apresentacao-topo .apresentacao-topo_players {
    display: none; }
  .apresentacao-topo .apresentacao-sociais {
    display: none !important; }

  .apresentacao-curriculo {
    margin-top: 1rem !important; }

  .sobre {
    display: flex;
    flex-direction: column; }
    .sobre .sobre-pessoal {
      padding-right: 4rem; }
    .sobre .sobre-profissao {
      margin: 0 auto; }
    .sobre .especialidades {
      margin-top: 2rem; }
      .sobre .especialidades h1 {
        width: 80% !important;
        margin-left: 1.5rem; }
      .sobre .especialidades .especialidades-container {
        padding-right: 3rem; }

  .habilidades-container-caixa {
    min-height: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #00000000 !important;
    border: none !important; }
    .habilidades-container-caixa img {
      width: 100% !important; }
    .habilidades-container-caixa div {
      display: none; }

  .contato-divisao {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap; }

  footer {
    padding: 2rem 1rem; } }
/* Notebooks */
@media (max-width: 1024px) {
  .apresentacao {
    height: 90vh; }
    .apresentacao .apresentacao-topo {
      display: grid;
      grid-template-columns: 5% 88% 5% !important; }
    .apresentacao .apresentacao-curriculo {
      margin-top: 1.5rem; }

  .sobre {
    gap: 1rem;
    padding: 3rem 0 3rem 3rem; }
    .sobre .especialidades h1 {
      text-align: center; }
    .sobre .especialidades .especialidades-container_caixa {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 20%;
      min-height: 130px;
      padding: 0 !important; }

  .habilidades-container-caixa {
    min-height: 150px !important; }
    .habilidades-container-caixa span {
      margin: 0 !important; }

  .projetos {
    padding-top: 1.7rem; }

  .contato {
    padding: 1rem 2.3rem 2.3rem 2.3rem; }
    .contato .contato-divisao_geral__frase {
      width: 90% !important; } }

/*# sourceMappingURL=styles.css.map */
