@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// GERAL
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

// variaveis para trocar a cor da tela
:root {
    --cor-fundo: black;
    --cor-texto: #fff3f3;
}

// VARIÁVEIS SCSS
$cor-texto-geral: #b9b4b4;
$efeito-box-shadow: 0 0 10px 0px var(--cor-texto);

// redutor dos titulos
%base-h1 {
    font-size: 3rem;
    color: var(--cor-texto);
    text-align: center;
}

// redutor dos fundos
%base-fundo {
    background-color: var(--cor-fundo);
    box-shadow: $efeito-box-shadow;
}

// mixin para configurações no formulario
@mixin formulario($border: 1px solid var(--cor-texto), $radius: 5px, $width: 90%) {
    border: $border;
    border-radius: $radius;
    width: $width;
}

// INÍCIO CABEÇALHO
header {
    display: flex;
    justify-content: center;
    @extend %base-fundo;
    gap: .2rem;
    padding: 1rem;
    position: relative;
    height: 100px;
    align-items: center;

    .cabecalho-players {
        display: none;
    }

    .cabecalho-topo-sociais {
        display: none;
    }

    .esconder-bars {
        display: none;
    }

    .fa-bars {
        color: var(--cor-texto);
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.8rem 1rem 2rem 0 !important;
    }

    .menu {

        a {
            border-radius: 30px;
            color: var(--cor-texto);
            font-size: 1.3rem;
            text-decoration: none;
            font-weight: 600;
            padding: .7rem;

            &:hover {
                animation: subir 1s ease-in-out forwards;
                color: var(--cor-texto);
                display: inline-block;
                font-size: 1.8rem;
            }
        }

        // ANIMAÇÃO DE SUBIR TEXTO NA NAVEGAÇÃO TOPO
        @keyframes subir {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-15px);
            }
        }
    }


}

// FIM CABEÇALHO

// INICIO SETA PARA SUBIR
.seta-subir {
    border-radius: 50%;
    bottom: 0;
    color: var(--cor-texto);
    cursor: pointer;
    font-size: 4rem;
    right: 0;
    margin: 0 5rem 5rem 0;
    position: fixed;
    z-index: 10;
}

.seta-subir.esconder {
    display: none;
}

// FIM SETA PARA SUBIR

// INICIO CONTEUDO PRINCIPAL
.apresentacao {
    display: grid;
    @extend %base-fundo;
    height: 100vh;

    .apresentacao-topo {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        align-items: center;

        div {
            margin: 0 0 0 .9rem;

            .apresentacao-musica {

                div {
                    display: flex;
                    gap: .5rem;

                    &:hover i {
                        color: purple;
                        cursor: pointer;
                    }

                    i {
                        color: var(--cor-texto);
                        font-size: 1.5rem;
                    }
                }
            }

            .altera-cor {
                color: var(--cor-texto);
                cursor: pointer;
                margin: 3rem 0 1rem 2.3rem;
                width: fit-content;

                i {
                    font-size: 1.7rem;
                }

                .fa-sun {

                    &:hover {
                        color: yellow;

                    }
                }
            }

            select {
                border: 1px solid var(--cor-texto);
                border-radius: 20px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 600;
                margin-top: 1.5rem;
                outline: none;
                padding: .5rem;
                width: fit-content;

                &:hover {
                    box-shadow: 0 0 20px 0 var(--cor-texto);
                }

                option {
                    background-color: #000;
                    color: #fff;
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }

        // animação escrevendo em loop
        #text {
            color: var(--cor-texto);
            font-size: 4rem;
            height: 20px;
            text-shadow: 1px 1px 5px var(--cor-texto);
            margin: -5rem auto 0;
            width: 60%;
            text-align: center;
        }

        #text::after {
            content: "";
            width: 3px;
            height: 50px;
            display: inline-block;
            background-color: var(--cor-texto);
            animation: flasher 0.6s infinite linear;
            opacity: 0;
            margin-left: 10px;
        }

        @keyframes flasher {
            from {
                opacity: 1;
            }
        }

        .apresentacao-titulo_responsivo {
            display: none;
        }

        .apresentacao-sociais {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1.5rem;

            i {
                font-size: 2.4rem;
                color: var(--cor-texto);
            }

            .fa-github {

                &:hover {
                    box-shadow: 0 0 10px 0 var(--cor-texto);
                }
            }

            .fa-linkedin {

                &:hover {
                    color: #1c3070;
                }
            }

            .apresentacao-sociais_listra {
                background-color: var(--cor-texto);
                color: #fff;
                width: 2px;
                height: 60px;
                margin-left: 1rem;
            }

            .apresentacao-sociais_listra__dois {
                background-color: var(--cor-texto);
                color: #fff;
                height: 60px;
                margin: -.2rem 0 0 1rem;
                width: 2px;
            }
        }
    }

    .apresentacao-curriculo {
        display: flex;
        gap: 1rem;
        margin: 0 auto;

        a {
            border-radius: 10px;
            font-size: 1.3rem;
            font-weight: 600;
            height: fit-content;
            padding: 1rem;
            text-decoration: none;
            text-transform: capitalize;
            width: fit-content;
        }

        .apresentacao-curriculo_linkUm {
            color: var(--cor-texto);
            border: 1px solid var(--cor-texto);
            transition: all .5s ease;

            .fa-download {
                margin-right: .5rem;
            }

            &:hover {
                color: var(--cor-fundo);
                background-color: var(--cor-texto);
            }
        }

        .apresentacao-curriculo_linkDois {
            background-color: #a7a4a470;
            border: 1px solid var(--cor-texto);
            color: #000;
            transition: all .5s ease;

            .fa-message {
                margin-right: .5rem;
            }

            &:hover {
                background-color: #d6d1d1ab;
            }
        }
    }
}

// INICIO SEÇÃO SOBRE
.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    @extend %base-fundo;
    color: var(--cor-texto);
    padding: 6rem;

    div {
        h1 {
            font-size: 3rem;
        }

        p {
            padding-top: 1rem;
            font-size: 1.2rem;
        }

        .sobre-profissao {
            border: 1px solid var(--cor-texto);
            border-radius: 20px;
            padding: 1.5rem;
            text-align: center;
            margin-top: 2rem;
            width: fit-content;

            &:hover i {
                box-shadow: 0 0 15px 0 var(--cor-texto);
            }

            i {
                border-radius: 5px;
                font-size: 1.5rem;
                padding: .5rem;
                margin: 1rem 0;
            }

            h3 {
                font-size: 1.5rem;
            }
        }

    }

    .especialidades {

        .especialidades-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2.5rem;
            margin-top: 2rem;

            .especialidades-container_caixa {
                border: 1px solid $cor-texto-geral;
                padding: 1.3rem 2rem;
                text-align: center;
                transition: all .5s ease;
                width: 28%;

                &:hover {
                    background: var(--cor-texto);
                    color: var(--cor-fundo);
                    box-shadow: 0 0 20px 0 var(--cor-texto);
                }

                i {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

// FIM SEÇÃO SOBRE

// INICIO SEÇÃO HABILIDADES
.habilidades {
    @extend %base-fundo;
    padding: 3rem;
    text-align: center;

    h1 {
        @extend %base-h1;
    }

    p {
        color: var(--cor-texto);
        font-size: 1.3rem;
    }

    .swiperHabilidades {
        width: 100%;
        margin-top: 2rem;
        overflow: hidden;
        height: 38vh;
        padding-top: 1.5rem;

        .swiper-wrapper {
            transition-timing-function: linear !important;

            .swiper-slide {
                width: auto;
                flex-shrink: 0;
                height: 150px;
            }
        }

        .habilidades-container {
            display: flex;
            gap: 1rem;

            .habilidades-container-caixa {
                display: grid;
                justify-content: center;
                border-radius: 20px;
                background-color: #2c2b2b;
                color: $cor-texto-geral;
                cursor: grab;
                height: 80% !important;
                padding: 1rem;
                transition: transform .5s;
                width: 15% !important;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 50%;
                    margin: 0 auto;
                }

                span {
                    font-weight: 600;
                    margin: .5rem 0;
                }
            }
        }
    }
}

// FIM SEÇÃO HABILIDADES

// INICIO SEÇÃO PROJETOS
.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @extend %base-fundo;
    color: #fff;
    overflow: hidden;
    height: 120vh;

    h1 {
        @extend %base-h1;
        margin-bottom: 2rem;
        margin-top: -6rem;
    }
}

.swiper {
    width: 80vw;
    height: 430px;
    overflow: visible;
}

.swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    border: 1px solid rgba(177, 177, 177, 0.4);
}

.swiper-slide img {
    text-align: start;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: inherit;
    user-select: none;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
}

.title span {
    font-size: 1.2rem;
    font-weight: 600;
}

.swiper-slide-active .title {
    bottom: -10px;
    // box-shadow: 0 20px 30px 2px rgba(25, 43, 206, 0.6);
    box-shadow: 0 20px 30px 2px var(--cor-texto);
}

.swiper-pagination {
    --swiper-pagination-bottom: -50px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--cor-texto);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: var(--cor-texto);
    border-radius: 14px;
}

// FIM SEÇÃO PORJETOS

// INCIO SEÇÃO CONTATO
.contato {
    @extend %base-fundo;
    color: var(--cor-texto);
    padding: 3rem 5.5rem;

    h1 {
        @extend %base-h1;
        margin-bottom: 2.5rem;
    }

    .contato-divisao {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .contato-divisao_geral {

            h2 {
                font-size: 1.8rem;
            }

            .contato-divisao_geral__frase {
                font-size: 1.2rem;
                width: 60%;
                margin: 1rem 0;
            }

            .contato-divisao_geral__caixa {
                display: flex;
                align-items: center;
                gap: .7rem;
                margin: 1rem 0;

                i {
                    border-radius: 50%;
                    border: 1px solid var(--cor-texto);
                    font-size: 1.5rem;
                    height: 3rem;
                    padding: .7rem;
                    text-align: center;
                    width: 3rem;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    color: var(--cor-texto);
                    font-size: 1.7rem;
                    font-weight: 600;
                    text-decoration: none;

                    .fa-arrow-right {
                        border: none;
                    }
                }
            }
        }

        .formulario {
            // display: grid;
            // align-items: center;

            form {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.4rem;
                    margin-top: .7rem;
                }

                input {
                    @include formulario($border: 1px solid var(--cor-texto), $radius: 5px, $width: 95%);
                    // border: $borda-formulario;
                    // border-radius: $borda-arredondada-formulario;
                    // width: $largura-formulario;
                    padding: .9rem;
                    margin-top: .5rem;
                }

                textarea {
                    @include formulario($border: 1px solid var(--cor-texto), $radius: 5px, $width: 95%);
                    // border: $borda-formulario;
                    // border-radius: $borda-arredondada-formulario;
                    // width: $largura-formulario;
                    margin: .7rem 0 1.5rem 0;
                }

                button {
                    @include formulario($border: 1px solid var(--cor-texto), $radius: 5px, $width: 95%);
                    background-color: var(--cor-texto);
                    // border: $borda-formulario;
                    // border-radius: $borda-arredondada-formulario;
                    // width: $largura-formulario;
                    color: var(--cor-fundo);
                    cursor: pointer;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: .7rem;
                    text-align: center;
                    text-decoration: none;
                    transition: all .5s ease;

                    &:hover {
                        background-color: var(--cor-fundo);
                        box-shadow: 0 0 20px 0 var(--cor-texto);
                        color: var(--cor-texto);
                    }
                }
            }
        }
    }
}

// FIM SEÇÃO CONTATO

// FIM CONTEUDO PRINCIPAL

// INICIO RODAPE
footer {
    @extend %base-fundo;
    color: var(--cor-texto);
    padding: 2rem 0;
    text-align: center;

    p {
        font-size: 1.5rem;
    }
}

// INICIO RESPONSIVIDADE
/* Celulares */
@media (max-width: 480px) {

    .cabecalho-topo-sociais {
            margin-right: 1rem !important;
        }

    header .esconder-bars {
        cursor: pointer;
        display: block;
        font-size: 1.7rem !important;
        margin-top: 2.2rem !important;
    }

    #cabecalho-lang-switcher {
        display: block;
    }

    .apresentacao {

        .apresentacao-topo {
            // width: 100px;

            #text {
                display: none;
                margin: 1.5rem 0 0 2.1rem !important;
                width: 350px !important;
                font-size: 2rem !important;
            }

            .apresentacao-titulo_responsivo {
                display: block !important;

                .apresentacao-titulo_responsivo__titulo {
                    display: block !important;
                    width: 300px !important;
                    color: var(--cor-texto);
                    margin: 2rem 0 0 3rem !important;
                    text-align: center;
                    font-size: 2rem !important;
                }
            }
        }

        .apresentacao-curriculo {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            align-items: center;
        }
    }

    .especialidades {

        h1 {
            text-align: center;
            padding: 0 !important;
            margin: 0 !important;
        }

        .especialidades-container_caixa {
            min-width: 150px !important;
        }
    }

    .habilidades-container-caixa {

        min-height: 10px !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #00000000 !important;
        border: none !important;

        img {
            width: 100% !important;
        }

        span {
            display: none;
        }

        div {
            display: none;
        }
    }

    form {

        input {
            width: 100% !important;
        }

        textarea {
            width: 100% !important;
        }

        button {
            width: 100% !important;
        }
    }

    footer {
        padding: 2rem 1rem;
    }
}

/* Tablets */
@media (max-width: 768px) {

    // INICIO SECAO CABECALHO
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .esconder-bars {
        cursor: pointer;
        display: block;
        font-size: 2.5rem;
    }

    header .menu {
        display: none !important;
    }

    header .menu.ativo {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 0px;
        margin: 20rem 2rem 0 2rem;
        padding: 15px;
        // /* chama a o keyframe criado, animação lista surgindo de cima pra baixo de forma mais lenta*/
        animation: menuDescer .5s forwards;
        background-color: var(--cor-fundo);
        width: 90% !important;
        border: 2px solid var(--cor-texto);
        text-align: center;
        z-index: 10;
    }

    @keyframes menuDescer {
        from {
            transform: translate3d(0, -60px, 0);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .cabecalho-players {
        display: flex !important;
        justify-content: start !important;
        color: #fff !important;
        align-items: center !important;
        gap: 2rem;

        i {
            font-size: 1.5rem
        }

        .cabecalho-apresentacao-musica {

            div {
                display: flex;
                gap: .5rem;

                &:hover i {
                    color: purple;
                    cursor: pointer;
                }

                i {
                    color: var(--cor-texto);
                    font-size: 1.5rem;
                }
            }
        }

        .cabecalho-altera-cor {
            color: var(--cor-texto);
            cursor: pointer;

            i {
                font-size: 1.7rem;
            }

            .fa-sun {

                &:hover {
                    color: yellow;

                }
            }
        }

        select {
            display: none;
        }

        #cabecalho-lang-switcher {
            display: block;
            border: 1px solid var(--cor-texto);
            border-radius: 20px;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            outline: none;
            padding: .5rem;
            width: fit-content;

            &:hover {
                box-shadow: 0 0 20px 0 var(--cor-texto);
            }

            option {
                background-color: #000;
                color: #fff;
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }



    .cabecalho-topo-sociais {
        display: flex !important;

        i {
            font-size: 2rem;
            color: var(--cor-texto);
            margin-right: 1rem;
        }

        .fa-github {

            &:hover {
                box-shadow: 0 0 10px 0 var(--cor-texto);
            }
        }

        .fa-linkedin {

            &:hover {
                color: #1c3070;
            }
        }
    }

    // INICIO SECAO APRESENTACAO
    .apresentacao-topo {

        #text {
            display: none;
            // margin: 0 auto !important;
            // margin-left: 4rem !important;
            // width: 450px !important;
            // font-size: 2.7rem !important;
            // justify-content: center;
        }

        .apresentacao-titulo_responsivo {
            display: block !important;

            .apresentacao-titulo_responsivo__titulo {
                display: block !important;
                width: 350px !important;
                color: var(--cor-texto);
                margin: 2rem 0 0 7rem !important;
                text-align: center;
                font-size: 2.3rem;
            }
        }



        .apresentacao-topo_players {
            display: none;
        }

        .apresentacao-sociais {
            display: none !important;
        }
    }

    .apresentacao-curriculo {
        margin-top: 1rem !important;
    }

    // FIM SECAO APRESENTACAO

    // INICIO SECAO SOBRE
    .sobre {
        display: flex;
        flex-direction: column;

        .sobre-pessoal {
            padding-right: 4rem;
        }

        .sobre-profissao {
            margin: 0 auto;
        }

        .especialidades {
            margin-top: 2rem;

            h1 {
                width: 80% !important;
                // margin-right: .5rem !important;
                margin-left: 1.5rem;
            }

            .especialidades-container {

                padding-right: 3rem;
            }
        }
    }

    // FIM SECAO SOBRE

    // INICIO HABILIDADES
    .habilidades-container-caixa {

        min-height: 10px !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #00000000 !important;
        border: none !important;

        img {
            width: 100% !important;
        }

        div {
            display: none;
        }
    }

    // FIM HABILIDADES

    // INICIO SECAO CONTATO
    .contato-divisao {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
    }

    // FIM SECAO CONTATO

    footer {
        padding: 2rem 1rem;
    }
}

/* Notebooks */
@media (max-width: 1024px) {
    .apresentacao {
        height: 90vh;

        .apresentacao-topo {
            display: grid;
            grid-template-columns: 5% 88% 5% !important;
        }

        .apresentacao-curriculo {
            margin-top: 1.5rem;
        }
    }

    .sobre {
        gap: 1rem;
        padding: 3rem 0 3rem 3rem;

        .especialidades {

            h1 {
                text-align: center;
            }

            .especialidades-container_caixa {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-width: 20%;
                min-height: 130px;
                padding: 0 !important;
            }
        }
    }

    .habilidades-container-caixa {
        min-height: 150px !important;

        span {
            margin: 0 !important;
        }
    }

    .projetos {
        padding-top: 1.7rem;
    }

    .contato {
        padding: 1rem 2.3rem 2.3rem 2.3rem;

        .contato-divisao_geral__frase {
            width: 90% !important;
        }
    }

}